.item-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: relative;
}

.item-image {
	background-color: #F7F5F2;
	border-radius: 10px;
	width:210px;
	height: 210px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.2s ease;
}

.item-image:hover {
	background-color: #eeeeee;
}

.folder-icon svg {
	width: 30px;
	height: 30px;
}

.item-description {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items:flex-end;
}

.btn-delete {
	width:fit-content;
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 2px;
	border: 2px solid #3C3A38;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.2s ease;
}

.btn-delete:hover {
	border-radius: 50%;
}

.img {
	width: 150px;
	height: 150px;
}

.file-info__extension {
	font: 400 12px/14px "Arial", sans-serif;
	color: #7B756D;
}

@media (max-width: 875.98px) {
    .item-image {
		width: 170px;
		height: 170px;
	}
	.img {
		width: 120px;
		height: 120px;
	}
}

@media (max-width: 625.98px) {
    .item-container {
		flex-direction: row;
		align-items: center;
	}
	.item-image {
		width: 70px;
		height: 70px;
		background-color: #fff;
	}
	.item-image svg {
		width: 40px;
		height: 40px;
	}
	.item-description {
		gap: 0px;
	}
	.img {
		width: 40px;
		height: 40px;
	}
	.btn-delete {
		top: 25px;
	}
}